#menu {
    display: flex;
    
}
#menu a {
    text-align: center;
    width: 80px;
    padding: 10px;
    font: 15px Arial;
    text-decoration: none;
	color: white;
	background-color: rgb(52, 137, 98);
}
#menu a:hover, #menu a.active {
    color: rgb(251, 251, 251);
    background-color: rgb(17, 78, 32);
}
